/* NAVBAR CONTAINER */
.navbar-links {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    align-items: center;
}

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
    themes: light --default, caramellatte;
}

/* LIST RESET */
.navbar-links li {
    list-style: none;
}

/* DEFAULT LINK STYLE */
.navbar-links a {
    text-decoration: none;
    /* color: purple; */
    font-size: 16px;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 8px;
    transition: 0.3s ease;
}

/* HOVER EFFECT */
.navbar-links a:hover {
    background: #E7FE29;
    color: #000;
    /* color: white; */
    /* text-decoration: underline; */

}

/* ACTIVE NAVLINK */
.navbar-links a.active {
    background: cornsilk;
    /* color: #E7FE29; */
    color: brown;
    /* color: white; */
    font-weight: 600;
    text-decoration: underline;
}